<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<app-nav-bar></app-nav-bar>
<html>
<div class="n">
  <div class="container">
      <h1><b><i>Shopping Cart</i></b></h1>
   </div>
  </div>
  <br>

<div class="container mb-4 y">
  <div class="row">
      <div class="col-12">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th class="text-center" scope="col"></th>
                          <th scope="col"  class="text-center">Product</th>
  
                          <th scope="col" class="text-center">Quantity</th>
                          <th scope="col" class="text-center">Price</th>
                          <th scope="col" class="text-center">Remove Item</th>
                        
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor = " let cart of cart ">
                          <td class ="text-center"><img src="../../assets/Images/{{cart.items.pimage}}" style="width:150px ; height : 200px " /></td>
                          <td class="text-center">{{cart.items.productName}}</td>
                          <td  class="text-center"><button class ="btn btn-sm btn-info" (click)="increaseproduct(cart.items.productid) "><i class=" fa fa-plus" aria-hidden="true"></i></button>

                           {{cart.quantity}}
                          <button class ="btn btn-sm btn-info" (click)="decreaseproduct(cart.items.productid)"><i class=" fa fa-minus" aria-hidden="true"></i></button>
                          </td>

                          <td class="text-center">{{cart.items.productPrice*cart.quantity}}</td>
                          <td class=" text-center px-0"><button class ="btn btn-sm btn-danger" (click)="deleteproduct(cart.items.productid)"><i class=" fa fa-trash" aria-hidden="true"></i></button></td>

                         
                      </tr>
                    
                     
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          
                          <td><h3><strong>Total</strong></h3></td>
                          <td class="text-right"><h3><strong>{{total}}</strong></h3></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="col mb-2">
          <div class="row">
              
              <div class="col-sm-12 col-md-6 text-right">
                  <button class="btn btn-md btn-block btn-success text-uppercase" (click) ="checkOut()">Proceed To Checkout</button>
              </div>
          </div>
      </div>
  </div>
</div>
<footer class="text-light">
  <div class="container">
      
  </div>
</footer>