.base{
    height : 60px ; 
    width : 100% ;
    background-color:navy ;
}
.q
{
color:white;
}
.t1
{
    color: white;
    margin-top:10px;
}
.view
{
    display : flex ;
}
.cart
{
    margin-top : 10px ;
    margin-left : 300px ;
    height : 40px ;
  
}

.align
{
    margin-left: 10px;
    height:40px;
    margin-top: 10px;
}
.searchbar
{
    margin-left : 30px;
    width:600px;
    
    margin-top:10px;
}
.slogan
{
    color : white ;
}
.sbutton
{
    color :white ;
}

